@import 'src/variables';
@import 'src/mixins';
$ratio: 160 / 40;
$title: $rem * 2 + $spacing;
$sidebar: $title * $ratio;
$gap: calc(#{$spacing} * 4);
$height: calc(2rem + #{$spacing});

$template-columns: var(--sidebar) var(--gap) 1fr auto;
$elbow: "ELBOW    ELBOW     ELBOW     TITLE"   $title
        "...      CONTENT CONTENT CONTENT"   $gap
        "...      CONTENT CONTENT CONTENT"   auto
        "ELABEL   CONTENT CONTENT CONTENT"   $height;

.container {
  background-color: black;
  --sidebar: var(--display-aside-width, #{$sidebar});
  --title: var(--display-aside-width, #{$sidebar});
  --gap: calc(#{$spacing} * 4);
  --template-columns: var(--sidebar) var(--gap) 1fr auto;

  --elbow-top-left: 1;
  --elbow-top-right: 0;
  --elbow-bottom-left: 0;
  --elbow-bottom-right: 0;
  padding: 1em;

  background-color: black;
  display: grid;
  grid-template:
    $elbow
    "...         CONTENT   CONTENT CONTENT" $spacing
    "CONTROLS    CONTENT   CONTENT CONTENT" 1fr
    / $template-columns;
  --button-cap-left: 0;
  --button-cap-right: 0;

  > * {
    --SPACING-ENABLED: 0;
  }
}

.elbow {
  $radius: calc(var(--sidebar) / 2 + var(--gap));
  border: 0;
  padding: 0;
  background: transparent;
  font: inherit;
  cursor: pointer;

  grid-area: ELBOW / ELBOW / ELABEL / TITLE;
  color: purple;
  background-color: currentColor;
  height: 100%;
  min-height: calc(#{$radius} + #{$height});
  overflow: hidden;
  position: relative;
  border-top-left-radius: $radius;

  &:hover {
    color: rebeccapurple;
  }
}

.elbow-content {
  display: grid;
  grid-template: $elbow / $template-columns;
  justify-items: end;

  > * {
    --SPACING-ENABLED: 0;
  }
}

.elbow-label {
  $height: calc(3rem + #{$spacing});
  color: black;
  grid-area: ELABEL;
  padding: ($spacing / 2) $spacing;
  display: flex;
  align-items: flex-end;
}

.scoop {
  grid-area: SCOOP;
  background-color: currentColor;
  border-top-left-radius: calc((var(--sidebar) / 2 + var(--gap)));
  overflow: hidden;
}

.vertical {
  grid-area: VERT / VLBL;
  background-color: red;

}

.scoop {
}

.title {
  display: inline-flex;
  align-items: center;

  @include block-font($title);
  grid-area: TITLE;
  background-color: black;
  font-size: $title;
  line-height: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 2;
  color: #133d87;
}

.controls {
  grid-area: CONTROLS;
}

.content {
  grid-area: CONTENT;
  align-self: stretch;
  background-color: black;
  border-radius: var(--gap) 0 0 0;
  z-index: 2;
  color: #133d87;
  padding: var(--gap);
}
